<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/headCss.css}"/>
    <link rel="stylesheet" th:href="@{/css/navCss.css}"/>
    <link rel="stylesheet" th:href="@{/css/contactCss.css}"/>
</head>
<body>
<span th:replace="fragments/header :: header"></span>
<div th:replace="fragments/navbar :: navbar"></div>
<div id="bio">
    <h1>Contact Info</h1>
    <br/>
    <p>x-xxx-xxx-xxxx</p>
    <br/>
    <p>xxxxxxx@gmail.com</p>
    <br/>
    <p>1234 Who Cares Ln, Las Vegas NV, 12345</p>
</div>
</body>
</html>