<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Show Post</title>
    <link rel="stylesheet"  th:href="@{/css/showCss.css}"/>
    <link rel="stylesheet" th:href="@{/css/headCss.css}"/>
    <link rel="stylesheet" th:href="@{/css/navCss.css}"/>
</head>
<body>
<span th:replace="fragments/header :: header"></span>
<div th:replace="fragments/navbar :: navbar"></div>
<h2>This is the Post you are looking for.</h2>
<h3><span th:text="${posts.title}"></span></h3>
<span th:text="${posts.body}"></span>
<br/>
<br/>
<h3>User</h3>
<span th:text="${posts.user.email}"></span>
<br/>
<br/>
<form th:action="@{/posts/delete}" th:method="POST">
    <button th:value="${posts.id}" th:name="id">Delete Post</button>
</form>

<span th:replace="fragments/footer :: footer"></span>
</body>
</html>